# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.sqlite3

# Environment Variables
.env

# Virtual Environments
env/
venv/

# IDE Configurations
.vscode/
.idea/

# Logs
*.log
*.out
*.err

# OS Files
.DS_Store
Thumbs.db
